<h1>Alitwitter</h1>

<%= form_with scope: :tweet, url: tweets_path, local: true do |form| %>
  <p>
    <%= form.label :tweet %><br>
    <%= form.text_field :text, required: true, size: 200, id: 'tweet_tweet'%> 
  </p>
 
  <p>
    <%= form.submit 'Post Tweet' %>
  </p>
<% end %>

<%= notice %>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
        <td><p><%= tweet.created_at %></p></td>
        <td><p><%= tweet.text %></p></td>
        <td><%= link_to 'delete', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
